*{
    box-sizing: border-box;
}

.header_games {
    background: cornflowerblue;
    color: white;
    text-align: center;
    display: block;
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    align-items: center;
}

.header_games > p {
    padding-top: 10px;
    box-shadow: #1a1f25;
}

.game {
    margin-top: 10px;
    width: 30%;
    display: inline-block;
    background: #e6b333;
    color: #3c3d41;
    height: 100px;
    padding-top: 3px;
    font-size: 1em;
    border-radius: 10px;
}

.game > a {
    color: #3c3d41;
    background: none;
    text-decoration: none;
}

.add_game {
    background: #999999;
    color: white;
    font-size: 50px;
    text-align: center;
}

.add_game:hover {
    background: lightgrey;
}

.game > a > p {
    display: inline-block;
    text-transform: uppercase;
}

.game > a > img, .img1, .img2 {
    display: inline-block;
    width: 20%;
    height: 80%;
}

.game:hover {
    border: 2px solid white;
}

.ccd {
    height: 95px;
    overflow: hidden;
    width: 60%;
    margin:10px auto;
    position: relative;
}

a.ddott {
    margin:0 auto;
    display: block;
    line-height: 50px;
    height: 50px;
    width: 24%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #FFF;
    background: #5D8EC7;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
a.ddott:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #222;
}