
table {text-align: center; border-collapse: collapse; width: 100%; margin: 0 auto 1rem; border-radius: 10%; color: white}

th, td { padding: 0.6rem; font-size: 15px; }

tr {background: hsl(50, 50%, 80%); }

tr, td { transition: .1s ease-in; }

tr:first-child {background: hsla(12, 100%, 40%, 0.5); }

tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

td:empty {background: hsla(50, 25%, 60%, 0.7); }

tr:hover:not(#firstrow), tr:hover td:empty {background: lightsteelblue; pointer-events: visible;}
tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}